/* Navbar.css */

.navbar {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color:bisque ;
    color:rgb(67, 12, 12);
    display:flex;
    align-items:center;
    justify-content: space-between;

  }
  .logo-img {
    width: 54px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    padding-left: 12px;
  }
  .logo {
    height: 10%;
  }
  
  .brand {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .links {
    display: flex;
  }
  
  .link {
    margin-left: 15px;
    cursor: pointer;
    padding-right: 12px;
    font-weight: bold;
    font-size: large;
  }
  .link :hover{
    color: blue;
  }
  